body {
    font-family: Consolas;
    width: 100%;
    background-color: #F5F5F5;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

input[type=number] {
    background-color: lightgray;
    border: .25px solid gray;
    text-align: center;
    font-size: 2.5rem;
    width: 80%;
    padding: .5em 0;
    font-family: Consolas;
}

.row {
    padding-top: 2em;
}

#increase, #decrease {
    font-size: 4em;
    margin: 0 .15em;
    margin-bottom: .5em;
    outline: 0;
}

#increase:focus, #decrease:focus {
    outline: 0;
    outline: none;
    }

#increase {
    color: green;
    transition: all .1s ease-in-out;
}

#increase:hover {
    transform: scale(1.1)
}

#decrease {
    color: red;
    transition: all .1s ease-in-out;
}

#decrease:hover {
    transform: scale(1.1);
}

.btn {
    background-color: orange;
    font-family: Consolas;
    color: white;
    border: none;
    font-size: 1.25em;
    width: 6em;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    height: 1.5em;
    transition: all .1s ease-in-out;
    margin: .3em 0;
}

#clear {
    margin-top: 1em;
    background-color: gray;
    width: 6.8em;
    text-align: center;
}

.btn:hover {
    transform: scale(1.1);;
}

@media only screen and (min-width: 600px) {
    input[type=number] {
        background-color: lightgray;
        border: .25px solid gray;
        text-align: center;
        font-size: 2.5rem;
        width: 12em;
        padding: .5em 0;
        font-family: Consolas;
    }
  }
